body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

/* Intro*/

.intro {
    width: 100%;
    height: 100vh;
    
    background: 
    url("../images/intro%20black.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


/* Intro__title*/

.intro__title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color :azure;
    text-align: center;
    line-height: 1;
    
}

/* Intro__inner*/

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto
    
}

/* Intro__suptitle*/
.intro__suptitle {
    margin-bottom: 20px;
    
    font-family: 'Kaushan Script',cursive;
    font-size: 70px;
    color: azure;
    text-align: center;
}

/* Intro__time */
.intro__time {
    color: aqua;
    text-align: center;
    width: 100%;
    max-width: 880px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Kaushan Script',cursive;
    font-size: 20px;
   
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;
        
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: #fff;
    text-decoration: none;
    
    transition: color 0.6s linear;
}

.nav__linl:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    
    background-color: #fff;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}


.nav__link:hover {
    color:aqua;
}
